@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
body,
html {
  height: 100%;
}
.tinyurl {
  font-family: "Bungee", cursive, sans-serif;
}
.App {
  background-image: url(./images/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.top-92 {
  top: 93%;
}
